<label for="dogName">Dog Name</label>
<input class="inputDogName" type="text" />
<label for="inputBreed">Breed</label>
<input class="inputBreed" type="text" />
<button class="btn btn-success newDogSubmit" type="submit">Submit Dog</button>

{{!-- This is dummy template working to fill this out now --}}
<div class="imageUploader">
    <img class="imagePreview" src="/images/dogShadow.png">
    <br>
    <input class="fileUpload" type="file">
    Select an Image
</div>

<script src="/js/newDog.js"></script>
{{!-- These are cloudinary's recommendations --}}
<script type="text/javascript" src="/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/js/jquery.cloudinary.js"></script>