<div class="errorMessage">Please input a name and image for the dog</div>
<form id="newDog" name="newDog" method="post" onsubmit="validateNewDog()" action="/api/createdog" enctype="multipart/form-data">
    <label for="dog_name">Dog Name</label>
    <input name="dog_name" class="dogName" type="text" />
    <label for="breed">Breed</label>
    <select name="breed">
        <option value="golden_doodle">Golden Doodle</option>
        <option value="bulldog">Bulldog</option>
    </select>
    <input class="fileUpload" type="file" name="dog_photo">
    Select an Image
    <input class="btn btn-success newDogSubmit" type="submit" value="Submit Dog" />
</form>

<script src="/js/createDog.js"></script>