<form id="newDog" method="post" action="/api/createdog" enctype="multipart/form-data">
    <label for="dog_name">Dog Name</label>
    <input name="dog_name" class="dogName" type="text" />
    <label for="inputBreed">Breed</label>
    <input name="breed" class="breed" type="text" />
    <input class="fileUpload" type="file" name="dog_photo">
    Select an Image
    <input class="btn btn-success newDogSubmit" type="submit" value="Submit Dog" />
</form>