<form id="newDog" method="post" action="/api/dog">
    <label for="dog_name">Dog Name</label>
    <input name="dog_name" class="dogName" type="text" />
    <label for="inputBreed">Breed</label>
    <input name="breed" class="breed" type="text" />
    <input class="fileUpload" type="file" name="dogPicture">
    Select an Image
    <input class="btn btn-success newDogSubmit" type="submit" value="Submit Dog" />
</form>

{{!-- <script src="/js/newDog.js"></script> --}}
{{!-- These are cloudinary's recommendations --}}
<script type="text/javascript" src="/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/js/jquery.cloudinary.js"></script>