<style>

    body {
    background-color: rgb(227, 227, 227);
}

</style>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1> Sign-Up </h1>
            <img src="https://cdn.dribbble.com/users/488076/screenshots/3650226/dog_running_003.gif" alt="green dog">
        </div>
    </div>
</div>


{{#if message}}
<div class="alert">{{message}}</div>
{{/if}}

<div class="errorMessages"></div>

<form id="signup" name="signup" onsubmit="validateSignUp()" method="post" action="/signup">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="email" />
    <br>
    <label for="firstname">Firstname</label>
    <input name="firstname" class="firstname" type="text" />
    <br>
    <label for="lastname">Lastname</label>
    <input name="lastname" class="lastname" type="text" />
    <br>
    <label for="zip">Zip Code</label>
    <input name="zip" class="zip" type="text" />
    <br>
    <label for="phone_number">Phone Number</label>
    <input name="phone_number" class="phone_number" type="text" />
    <br>
    <label for="password">Password</label>
    <input name="password" class="password" type="password" />
    <br>
    <input class="btn" type="submit" value="Sign Up" />
</form>

<script src="/js/passportError.js"></script>