<<<<<<< HEAD
<style>

    img {
    
    width: 150%;
    margin-left: -25%;
  }

    h1 {
    color: rgb(255, 201, 127);
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-family: hiruko;
}

body {

background-color: rgb(142, 179, 183);

}
  
  .form-control {
      border-radius: 25px;
      background-color: rgb(27, 88, 119);
  }

</style>

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1> Sign-In </h1>
            <img src="https://cdn.dribbble.com/users/1055986/screenshots/3424194/doberman-walk.gif" alt="Dancin Dauschand">
            <br>
            <br>
            <br>
            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="E-mail">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<form>
=======
{{#if message}}
    <div class="alert">{{message}}</div>
{{/if}}

<form id="signin" name="signin" method="post" action="signin">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign In" />
</form>

<a href="/signup"><button class="signUpBtn">Sign Up</button></a>
>>>>>>> master
